{% extends "layouts/app_shell.html" %}
{% block title %}Time Timer · Sunridge{% endblock %}
{% block head_extra %}
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;0,9..40,600;0,9..40,700&family=IBM+Plex+Mono:wght@500;600&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/static/time-timer/assets/index.css?v={{ asset_version }}" />
{% endblock %}
{% block content %}
  <div id="root"></div>
  <script type="module" src="/static/time-timer/assets/index.js?v={{ asset_version }}"></script>
{% endblock %}
